<div class='row'>
<div class='col m8 offset-m2 col s12 center'>
  <h2>FullCountNews</h2>
  <h4>Up to the minute,<br> MLB news and stats</h4>
  <a ng-href='/following' type="button" class="waves-effect waves-light btn-large green" ng-show='currentUser'>Your Lineup</a>
  <!-- <button type="button" class="waves-effect waves-light btn-large blue" ng-show='currentUser'>League News</button> -->
  <button type="button" class="waves-effect waves-light btn-large blue" ng-hide='currentUser' ng-click='showDialog("login")'>LogIn</button>
  <button type="button" class="waves-effect waves-light btn-large blue" ng-hide='currentUser'>SignUp</button>
</div>
</div>


