
<div class="row">
  <div class='col m6 offset-m3 s12 autocomplete-row'>
    <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in getMatches(searchText)" md-item-text="item.name" md-selected-item-change='findPlayer(item)' placeholder='Search for a player'  md-autofocus class='autocomplete-form z-depth-1'>
      <span md-highlight-text="searchText">{{ item.name }}</span>
    </md-autocomplete>
  </div>
</div>
<div class='loading'><img src="../../images/gears.gif"></div>
<div class='row player-list-index'>
  <div class='col m6 col s12 user-player-index-list'>
    <!-- <h3 class='center'>Players</h3> -->
    <ul class="collection with-header card card-content z-depth-2" ng-repeat='player in playerList'>
      <a class="player-link" ng-href='/following/{{ player.id }}'>
        <li class="collection-item player-list">
            <img class='headshot' src='{{player.img}}'>
            <div class="player-details">
              <h4 class='card-player-name'>{{player.name}}</h4>
              <div class="team-position">
                <p>{{player.team}} - {{player.position}}</p>
              </div>
              <button type="button" class="waves-effect waves-light btn-floating red right player-delete" ng-if='load.fire'><i class='fa fa-fire'></i></button>
              <button type="button" class="waves-effect waves-light btn-floating blue right player-delete" ng-if='load.ice'><i class='fa fa-asterisk'></i></button>
              <button type="button" class="waves-effect waves-light btn-floating yellow right player-delete" ng-if='load.injured'><i class='fa fa-exclamation-triangle'></i></button>
            </div>
        </li>
      </a>
    </ul>
  </div>
  <div class='col m6 col s12' ng-if='!$root.isMobile'>
    <!-- <h3 class='center'>League News</h3> -->
    <ul class="collection with-header card card-content z-depth-1" ng-repeat='new in news'>
  <!--     <div class='card'>
        <div class='card-content'> -->
          <li class="collection-item player-news">
            <!-- <li class="collection-item"> <h4>Alvin</h4></li> -->
            <a href='#' ng-click='showDialog(new)'><b>{{new.title}}</b></a>

          </li>
 <!--        </div>
      </div> -->
    </ul>
    <!-- <md-progress-circular class="md-hue-2 center" md-mode="indeterminate" ng-show='loading'></md-progress-circular> -->
  </div>
</div>











