<div class='signup-card'>
  <h2 class='center welcome-header'>LogIn</h2>
  <div class='card z-depth-5'>
    <div class="card-content">
    <form ng-submit='userLogin()'>
      <div class="input-field">
        <div class="form-group">
          <label class="control-label" for="">Email</label>
          <span class="help-block"></span>
          <input ng-model='user.email' type="text" class="form-control" id="" autofocus>
        </div>
      </div>
      <div class='input-field'>
        <div class='form-group'>
          <label class="control-label" for="">Password</label>
          <input ng-model='user.password' type="password" class="form-control" id="" >
        </div>
      </div>


      <button type="submit" class="btn blue">Submit</button>
    </form>
    </div>
  </div>
</div>