html,
body {
  height: 100%;
  background-color: #cfd8dc;
  font-family: 'Noto Sans', sans-serif;
}
.container {
  height: 100%;
  background-color: #cfd8dc;
}

/*navar*/

/*.ticker.ng-enter {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}*/
/*.ticker.ng-leave {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
}*/
.nav-logo {
  font-size: 25px !important;
  margin-left: -15px;
  color: white !important;
  font-family: 'Lora', serif;
}
.nav-headline {
  font-size: 20px !important;
}
.side-nav {
  background-color: #2196f3  !important;
}
.sidenav-a {
  font-size: 19px !important;
  color: white !important;
}
.nav-links {
  font-family: 'Lora', serif;
}

/* welcome page */

.welcome-header {
  margin-top: 2em;
  font-family: 'Lora', serif;
}
.welcome-subheader {
  margin-bottom: 30px;
}


/*Toasts*/
.hello {
  background-color: green;
}
.goodbye {
  background-color: red;
}
.signup {
  background-color: green;
}

/*auth*/

.signup-card {
  width: 50%;
  margin: 0 auto;
}


/*Userplayer list*/

.user-player-index-list {
  overflow: auto;
}
.headshot {
  float: left;
  height: 125px;
  width: 95px;
  border-radius: 5%;
  margin-right: 15px;
  margin-bottom: 12px;
}
.autocomplete-form {
  margin-top: 20px;
}

a {
  color: black;
}
.card-player-name {
  font-size: 20px;
}


/*media queries*/

@media (max-width: 600px) {
  .nav-headline {
    font-size: 13px !important;
  }
  .show-player-name {
    font-size: 20px !important;
  }
  .welcome-header {
    font-size: 35px;
  }
  .welcome-subheader {
    font-size: 25px;
  }
  .headshot {
    margin-left: -20px;
  }
}

@media (max-width: 325px) {
  .signup-card {
    width: 100%;
  }
  .row .col{
    padding: 0;
  }
}


