html,
body {
  height: 100%;
  background-color: #002F6C;
  font-family: 'Noto Sans', sans-serif;
}
h2 {
  color: #fff;
}
nav .nav-wrapper {
  overflow: hidden;
  background: #C8102E;
}
.mdi-navigation-menu {
  background: #c8102e;
}
// .blue {
//   background: #C8102E !important;
// }
.container {
  background-color: #002F6C;
}

.nav-logo {
  font-size: 25px !important;
  color: white !important;
  font-family: 'Lora', serif;
  overflow: hidden;
}
.nav-headline {
  font-size: 16px !important;
  overflow: hidden;
}
#mobile-demo.side-nav {
  top: 64px;
  background-color: #C8102E  !important;
}
nav .button-collapse {
  margin-left: 10px;
}
.sidenav-a {
  font-size: 19px !important;
  color: white !important;
}

/* welcome page */

.welcome-header {
  margin-top: 2em;
  font-family: 'Lora', serif;
  color: #fff;
}
.welcome-subheader {
  margin-bottom: 30px;
  color: #fff;
}
.welcome-div a {
  margin: 0 7.5px;
}


/*Toasts*/
.hello {
  background-color: green;
}
.goodbye {
  background-color: red;
}
.signup {
  background-color: green;
}
.remove {
  background: red;
  color: #fff;
}
.md-dialog-container {
  position: fixed;
  top: 0 !important;
}
/*auth*/

.signup-card {
  width: 50%;
  margin: 0 auto;
}


/*Userplayer list*/
.loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  visibility: hidden;
}
.loading.active {
  opacity: 1;
  visibility: visible;
}

.autocomplete-form {
  margin-top: 20px;
}

.user-player-index-list {
  overflow: auto;
}
.z-depth-1 {
  box-shadow: 0 2px 5px 0 rgba(255,255,255,0.16), 0 2px 10px 0 rgba(255,255,255,0.12);
}
.z-depth-1:hover {
  box-shadow: 0 2px 5px 0 rgba(255,255,255,0.56), 0 2px 10px 0 rgba(255,255,255,0.52);
}
.z-depth-2 {
  box-shadow: 0 8px 17px 0 rgba(255,255,255,0.2), 0 6px 20px 0 rgba(255,255,255,0.19);
}
.z-depth-2:hover {
  box-shadow: 0 8px 17px 0 rgba(255,255,255,0.5), 0 3px 20px 0 rgba(255,255,255,0.3);
}
.collection {
  border: none;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.player-card {
  height: 40vh;
}
.player-list img {
  margin-right: 15px;
}
.collection.with-header .collection-item {
  padding: 0;
  position: relative;
}
.collection-item.player-show .details{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 300px;
}
.details .headshot {
  width: 35%;
  height: 40vh;
}
.player-specifics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 63%;
  padding: 15px 15px 15px 0;
  position: relative;
  height: 40vh;
}
.player-specifics .player-name {
  margin-bottom: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.player-name h4 {
  font-size: 2.5em;
}
.player-info p {
  margin: 0;
  margin-bottom: 2%;
}
.player-info .player-alert {
  font-style: italic;
}
.player-actions {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
.player-specifics table {
  position: absolute;
  bottom: 70px;
  right: 0;
}
.player-news-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.player-news-wrapper .collection {
  width: 49%;
}
@media screen and (max-width: 768px) {
  .container {
    width: 100%;

  }
}
@media screen and (max-width: 668px) {
  .player-card {
    height: 90vh;
  }
  .collection-item.player-show .details {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .details .headshot {
    width: 100%;
    height: 45vh;
  }
  .player-specifics {
    width: 100%;
    padding: 10px;
  }
  .player-info p {
    margin-bottom: 3.5%;
  }
  .player-actions,.player-specifics table {
    position: relative;
    bottom: 0;
    right: 0;
  }
  .player-news-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .player-news-wrapper .collection {
    width: 100%;
  }
}
.headshot {
  float: left;
  width: 40%;
  // margin-right: 15px;
}
.card-player-name {
  margin: 0;
}
.team-position p {
  margin: 0;
  font-size: .85em;
}

a {
  color: black;
}
.card-player-name {
  font-size: 20px;
}

.player-news {
  padding: 20px !important;
}

.md-dialog-container {
  background: rgba(0,0,0,.25);
}
/*media queries*/
@media screen and (max-width: 668px) {
  #mobile-demo.side-nav {
    top: 56px;
  }
  .signup-card {
    width: 100%;
  }
  .nav-headline {
    width: 230px;

  }
}

@media (max-width: 600px) {
  .nav-headline {
    font-size: 13px !important;
  }
  .show-player-name {
    font-size: 20px !important;
  }
  .welcome-header {
    font-size: 35px;
  }
  .welcome-subheader {
    font-size: 25px;
  }
}

@media (max-width: 325px) {
  .signup-card {
    width: 100%;
  }
  .row .col{
    padding: 0;
  }
}


