html,
body {
  height: 100%;
  background-color: #cfd8dc;
  font-family: 'Noto Sans', sans-serif;
}
.container {
  height: 100%;
  background-color: #cfd8dc;
}

.nav-logo {
  font-size: 25px !important;
  margin-left: -15px;
  color: white !important;
  font-family: 'Lora', serif;
}
.nav-headline {
  font-size: 16px !important;
  overflow: hidden;
}
.side-nav {
  background-color: #2196f3  !important;
}
.sidenav-a {
  font-size: 19px !important;
  color: white !important;
}
.nav-links {
  font-family: 'Lora', serif;
}

/* welcome page */

.welcome-header {
  margin-top: 2em;
  font-family: 'Lora', serif;
}
.welcome-subheader {
  margin-bottom: 30px;
}


/*Toasts*/
.hello {
  background-color: green;
}
.goodbye {
  background-color: red;
}
.signup {
  background-color: green;
}

/*auth*/

.signup-card {
  width: 50%;
  margin: 0 auto;
}


/*Userplayer list*/
.autocomplete-form {
  margin-top: 20px;
}

.user-player-index-list {
  overflow: auto;
}
// .collection .collection-item {
//   padding: 0;
// }
.collection {
  border: none;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.collection.with-header .collection-item {
  padding: 0;
  position: relative;
}
// .collection.with-header .collection-item a {
//   position: absolute;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
//   width: 100%;
//   background: transparent;
// }
.headshot {
  float: left;
  width: 40%;
  margin-right: 15px;
}
.card-player-name {
  margin: 0;
}

a {
  color: black;
}
.card-player-name {
  font-size: 20px;
}


/*media queries*/

@media (max-width: 600px) {
  .nav-headline {
    font-size: 13px !important;
  }
  .show-player-name {
    font-size: 20px !important;
  }
  .welcome-header {
    font-size: 35px;
  }
  .welcome-subheader {
    font-size: 25px;
  }
  .headshot {
    margin-left: -20px;
  }
}

@media (max-width: 325px) {
  .signup-card {
    width: 100%;
  }
  .row .col{
    padding: 0;
  }
}


